@media only screen and (max-width: 1350px) {
/*-- Section 1 - Testimonials --*/

.sl_1_prev {
    left: -14px;
}

.sl_1_next {
    right: -14px;
}

.sl_2 {
    left: -20px;
}

.sl_2_next {
    left: auto;
    right: -20px;
}

/*-- /Section 1 - Testimonials --*/
}

@media only screen and (max-width: 1240px) {

/*-- Header --*/

.header_site > .left {
    width: calc(100% - 210px);
    padding-left: 0;
}

.header_site > .right {
    width: 210px;
}

.resp_nav li {
    padding: 5px 10px;
}

.resp_nav li a {
    font-size: 15px;
}

/*-- /Header --*/

/*-- Section 1 - Main --*/

.thumb_2 {
    width: calc(50% - 30px);
}

/*-- /Section 1 - Main --*/

/*-- Section 1 - Some Service --*/

.thumb {
    width: calc(50% - 30px);
}

/*-- /Section 1 - Some Service --*/

/*-- Section 1 - Blog --*/

.blog_thumb {
    flex-wrap: wrap;
}

.blog_thumb > div:nth-child(1) {
    width: 100%;
}

.blog_thumb > div:nth-child(2) {
    width: 100%;
}

.blog_thumb .img_box {
    max-width: 100%;
    margin-bottom: 10px;
}

/*-- /Section 1 - Blog --*/

}

@media only screen and (max-width: 1024px) {

/*-- Section 1 - Some Service --*/

.good_item_templ {
    flex-wrap: wrap;
}

.good_item_templ > .left {
    width: 100%;
    padding: 5px 0 10px 0;
}

.good_item_templ > .right {
    width: 100%;
    padding: 5px 0 10px 0;
}

.good_item_templ > .left .img_box {
    height: 236px;
}

/*-- /Section 1 - Some Service --*/

/*-- Section 1 - Prices --*/

.table_row {
    padding: 0 15px 0 15px;
}

/*-- /Section 1 - Prices --*/

/*-- Footer --*/

.footer_two_cols > .left {
    width: 100%;
    padding: 10px 0;
}

.footer_two_cols > .right {
    width: 100%;
    padding: 10px 0;
}

.map {
    max-width: 100%;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 900px) {

/*-- Header --*/

.header_site > .left {
    width: 100%;
    padding: 10px 0;
}

.header_site > .right {
    display: none;
}

.logo_wrapp {
    padding: 10px 0 15px 0;
}

/*-- /Header --*/

/*-- Section 1 - Main --*/

.two_cols > .left {
    width: calc(100% - 220px);
}

.two_cols > .right {
    width: 220px;
}

.grey_box_2 {
    padding: 18px 20px 29px 20px;
}

/*-- /Section 1 - Main --*/

/*-- Section 1 - Testimonials --*/

.testimonial_thumb > div:nth-child(1) {
    width: 180px;
}

.testimonial_thumb > div:nth-child(2) {
    width: calc(100% - 180px);
}

/*-- /Section 1 - Testimonials --*/

}

@media only screen and (max-width: 768px) {

.row {
    padding: 0 20px;
}

h2 {
    font-size: 22px;
    line-height: 26px;
}

h3 {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
}

p {
    font-size: 12px;
    line-height: 14px;
}

/*-- Header --*/

.header {
    min-height: 200px;
    z-index: 6;
}

.header_bg {
    display: none;
}

.header_bg_resp {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

#respNav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px 30px 20px;
    height: 100vh;
    z-index: 10;
    background: #FF0900;
    overflow-x: hidden;
    overflow-y: auto;
}

.resp_nav li {
    width: 100%;
    text-align: center;
}

.resp_nav li a {
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    line-height: 100%;
}

.resp_nav li:before {
    display: none;
}

.logo_wrapp {
    padding: 0 0 15px 0;
}

.logo {
    max-width: 130px;
}

.header_descript {
    padding: 24px 0 0 0;
}

.header_descript h2 {
    font-size: 16px;
    line-height: 164%;
}

.header_descript p {
    font-size: 11px;
    line-height: 164%;
}

.close {
    display: block;
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
}

.resp_nav_stick_wrapp {
    display: block;
}

/*-- /Header --*/

/*-- Section 1 - Main --*/

.info_box_title h2 {
    font-size: 22px;
    line-height: 26px;
}

.two_cols_main .left {
    width: 100%;
    padding: 10px 0 10px 0;
}

.two_cols_main .right {
    display: none;
}

.p_10 {
    padding-left: 0 !important;
}

.visible_768 {
    display: block;
}

.grey_box_2 {
    margin: 17px 0 41px 0;
    padding: 18px 45px 29px 45px;
}

.main_img_box {
    margin-bottom: 23px;
}

/*-- /Section 1 - Main --*/

/*-- Section 1 - Some Service 2 --*/

.two_cols > .left {
    width: 100%;
    padding: 10px 0;
}

.two_cols > .right {
    width: 100%;
    padding: 10px 0;
}

.article_4_inner {
    padding: 17px 0 10px 0;
}

.info_box_title_3 {
    align-items: flex-start;
    position: relative;
    margin-bottom: 39px;
    padding: 2px 0 13px 0;
}

.info_box_title_3:after {
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    background: #FF0900;
    position: absolute;
    top: 0;
    right: 0;
}

.info_box p {
    padding-bottom: 13px;
    font-size: 12px;
    line-height: 14px;
}

.article_4 {
    padding-top: 18px;
}

.article_4 ul li {
    font-size: 12px;
    line-height: 14px;
}

.video_box h3 {
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    padding: 23px 10px 10px 10px;
}

/*-- /Section 1 - Some Service 2 --*/

/*-- Section 1 - Some Service --*/

.article h2 {
    padding: 10px 0 36px 0;
    font-size: 22px;
    line-height: 26px;
}

.article p {
    font-size: 12px;
    line-height: 14px;
}

/*-- /Section 1 - Some Service --*/

/*-- Section 1 - Prices --*/

.table_wrapp {
    margin: 34px 0 10px 0;
}

.article_5 {
    padding: 23px 0 0 0;
}

.article_5 p {
    font-size: 12px;
    line-height: 14px;
}

.article_5 ol li {
    padding-left: 30px;
    font-size: 12px;
    line-height: 14px;
}

.article_5 ol li:before {
    top: 5px;
    left: 12px;
}

/*-- /Section 1 - Prices --*/

/*-- Section 1 - About --*/

.about_article {
    padding: 21px 0 10px 0;
}

.about_article_2 {
    padding: 26px 0 4px 0;
}

.about_article p {
    font-size: 12px;
    line-height: 14px;
}

.about_article_2 p {
    font-size: 12px;
    line-height: 14px;
}

.about_article_2 h3 {
    padding-top: 13px;
    font-size: 12px;
    line-height: 14px;
}

.about_article_2 ul li {
    font-size: 12px;
    line-height: 14px;
}

.grey_box p {
    font-size: 16px;
    line-height: 19px;
}

.grey_box ul li {
    font-size: 16px;
    line-height: 19px;
}

/*-- /Section 1 - About --*/

/*-- Section 1 - Blog --*/

.blog_article {
    padding-top: 0;
    padding-bottom: 29px;
}

.blog_article h3 {
    padding-top: 14px;
    font-size: 12px;
    line-height: 14px;
}

.blog_article p {
    font-size: 12px;
    line-height: 14px;
}

.blog_article p a {
    font-size: 12px;
    line-height: 14px;
}

.share_wrapp {
    flex-wrap: wrap;
    justify-content: center;
}

.share_wrapp > div:nth-child(1) {
    padding-top: 7px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.share_wrapp > div:nth-child(2) {
    width: 100%;
    text-align: center;
}

.share_list {
    justify-content: center;
}

.blog_thumbs_title h3 {
    font-size: 18px;
    line-height: 25px;
}

/*-- /Section 1 - Blog --*/

/*-- Section 1 - Testimonials --*/

.testimonial_thumb {
    flex-wrap: wrap;
    padding: 13px 25px 8px 25px;
}

.testimonial_thumb > div:nth-child(1) {
    width: 100%;
    text-align: center;
}

.testimonial_thumb > div:nth-child(2) {
    width: 100%;
}

.testimonial_single {
    margin-top: 24px;
    padding: 7px 0 10px 0;
}

.testimonial_single:before {
    top: 5px;
}

.testimonial_single h3 {
    padding: 2px 0 2px 40px;
    font-size: 18px;
    line-height: 21px;
}

.testimonial_single p {
    padding: 2px 0;
    font-size: 12px;
    line-height: 14px;
}

.sl_1_btn {
    display: none;
}

.h1_wrapp h1 {
    font-size: 22px;
    line-height: 26px;
}

.slider_wrapp {
    margin: 17px 0 20px 0;
}

.testimonial_text {
    min-height: 110px;
    margin: 15px 0 34px 0;
    padding: 21px 48px 20px 48px;
}

.testimonial_text p {
    font-size: 12px;
    line-height: 14px;
}

.testimonial_text:after {
    background-image: url(img/vector_resp.png);
    width: 57px;
    height: 15px;
    left: 54px;
}

.author {
    padding: 0 0 0 44px;
}

.sl_2 {
    display: none !important;
}

.testimonial_thumb_2 {
    width: calc(100vw - 50px);
}

.slide_2 {
    padding: 0 10px 20px 10px;
}

.resp_controls {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.resp_prev {
    display: block;
    width: 31px;
    height: 31px;
    background: #EEE;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.resp_next {
    display: block;
    width: 31px;
    height: 31px;
    background: #EEE;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.resp_controls .slick-dots {
    padding: 10px 0 0 5px;
}

/*-- /Section 1 - Testimonials --*/

/*-- Section 1 - Contacts --*/

.contacts_form {
    padding: 10px 0 0 0;
}

.input_wrapp_2 {
    margin: 8px 0;
}

.ch_wrapp {
    padding-top: 7px;
}

.contacts_form .submit_wrapp {
    padding: 11px 0 6px 0;
    text-align: center;
}

.sidebar_info h3 {
    padding: 10px 0 7px 0;
    font-size: 22px;
    line-height: 26px;
}

.sidebar_info p {
    font-size: 11px;
    line-height: 13px
}

.sidebar_info p a {
    font-size: 11px;
    line-height: 13px
}

/*-- /Section 1 - Contacts --*/

/*-- Section 1 - Gallery --*/

.gallery_header > div:nth-child(1) {
    width: 40px;
}

.gallery_icon {
    width: 30px;
    height: 30px;
}

.gallery_icon img {
    max-width: 80%;
    max-height: 80%;
}

.gallery_header > div:nth-child(2) {
    width: calc(100% - 40px);
    padding-top: 3px;
}

.gallery_wrapp:last-child {
    padding-bottom: 0ж
}


/*-- /Section 1 - Gallery --*/

/*-- Footer --*/

.footer_bg {
    display: none;
}

.footer_bg_resp {
    display: block;
    width: auto;
    height: auto;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-- /Footer --*/

}

@media only screen and (max-width: 600px) {

/*-- Section 1 - Prices --*/

.table_wrapp {
    margin: 34px -20px 10px -20px;
}

.table_row {
    min-height: 30px;
    padding: 0 20px 0 20px;
}

.table_row > div:nth-child(1) {
    width: calc(100% - 190px);
    padding: 10px 5px 10px 0;
}

.table_row > div:nth-child(3) {
    width: 90px;
    padding: 10px 0 10px 7px;
}

.table_row > div:nth-child(2) {
    width: 100px;
    padding: 10px 5px 10px 5px;
}

.table_wrapp h3 {
    font-size: 9px;
    line-height: 9px;
}

.table_wrapp p {
    font-size: 9px;
    line-height: 9px;
}

/*-- /Section 1 - Prices --*/

/*-- Section 1 - Blog --*/

.blog_thumbs_wrapp {
    padding: 26px 0 0 0;
}

.blog_thumb {
    width: calc(100% - 14px);
}

.blog_thumb_descript h3 {
    padding-bottom: 9px;
}

.blog_thumb_footer {
    padding-top: 15px;
    padding-bottom: 12px;
}

/*-- /Section 1 - Blog --*/

/*-- Footer --*/

.footer_two_cols > .right {
    padding: 10px 0 0 0;
}

.footer_two_cols_3 > div:nth-child(1) {
    min-width: calc(100% + 40px);
    width: auto;
    padding: 0;
    order: 2;
    margin: 0 -20px;
}

.footer_two_cols_3 > div:nth-child(2) {
    width: 100%;
    padding: 0;
    order: 1;
}

.map {
    height: 300px;
    margin: 20px 0 0 0;
}

.footer_title h3 {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 480px) {

/*-- Section 1 - Main --*/

.info_box:before {
    display: none;
}

.info_box {
    padding-left: 0;
}

.info_box_title {
    position: relative;
    padding-right: 10px;
}

.info_box_title:after {
    display: block;
    content: "";
    width: 1px;
    height: calc(100% - 10px);
    position: absolute;
    top: 0;
    right: 0;
    background: #FF0900;
}

.thumbs_2 {
    margin: 31px -15px -12px -15px;
}

.thumb_2 {
    width: calc(100% - 30px);
    margin: 0 15px 0 15px;
}

.info_box.info_box_2 p {
    font-size: 12px;
    line-height: 14px;
}

.article_2 ul {
    padding-left: 0;
}

.article_2 ul li {
    font-size: 12px;
    line-height: 14px;
}

.info_box_2 {
    padding-bottom: 13px;
}

.article_3 p {
    padding: 6px 0;
    font-size: 12px;
    line-height: 14px;
}

.grey_box_2 {
    width: 253px;
    padding: 18px 20px 29px 20px;
    margin-left: auto;
    margin-right: auto;
}

/*-- /Section 1 - Main --*/

/*-- Section 1 - Some Service 2 --*/

.two_cols > .right {
    max-width: 300px;
    margin: 0 auto;
}

.article_4 h2 {
    padding: 16px 0 34px 0;
}

.sidebar {
    padding-top: 0;
}

/*-- /Section 1 - Some Service 2 --*/

/*-- Section 1 - Some Service --*/

.info_box_title + .info_box {
    margin-top: 20px;
}        

.thumb {
    width: calc(100% - 30px);
    min-height: auto;
}

.good_item {
    padding: 5px 0 18px 0;
}

.good_item_title {
    padding-bottom: 24px;
}

.good_item_title h3 {
    padding-left: 0;
    font-size: 22px;
    line-height: 26px;
}

.good_item_templ > .right h3 {
    padding-bottom: 2px;
    font-size: 12px;
    line-height: 14px;
}

.good_item_templ > .right p {
    font-size: 12px;
    line-height: 14px;
}

.good_item_templ > .right ul li {
    font-size: 12px;
    line-height: 14px;
}

.price {
    padding-top: 8px;
}

.price h4 {
    font-size: 12px;
    line-height: 14px;
}

.items {
    margin-bottom: -27px;
}

/*-- /Section 1 - Some Service --*/

/*-- Section 1 - Blog --*/

.blog_ing_wrapp {
    padding: 6px 0 16px 0;
}

.blog_ing {
    height: 130px;
}

.date p {
    font-size: 10px;
    line-height: 13px;
}

.info_box {
    position: relative;
}

.info_box:before {
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    background: #FF0900;
    position: absolute;
    top: 0;
    left: -10px;
}

/*-- /Section 1 - Blog --*/

/*-- Footer --*/

.footer_two_cols {
    padding: 7px 0 0 0;
}

.footer_two_cols_2 {
    flex-wrap: wrap;
    padding: 4px 0 0 25px;
}

.footer_two_cols_2 > div:nth-child(1) {
    width: 100%;
    padding: 10px 0 10px 0;
}

.footer_two_cols_2 > div:nth-child(2) {
    width: 100%;
    padding: 10px 0 10px 0;
}

.form_wrapp.form_wrapp_2 {
    max-width: 270px;
    margin: 0 auto;
}

.footer_nav li {
    padding: 6px 0;
}

.footer_nav li a {
    font-size: 22px;
    line-height: 26px;
}

.contacts_text h3 {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFF;
}

.form_wrapp_2 .red_pill {
    justify-content: flex-start;
}

.corp {
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    margin: 25px -15px;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 400px) {

/*-- Section 1 - Some Service --*/

.thumbs {
    margin: 4px -15px;
}

.thumb {
    max-width: 217px;    
    margin: 18px auto;
}

/*-- /Section 1 - Some Service --*/

}

@media only screen and (max-width: 370px) {

/*-- Section 1 - Gallery --*/

.gal_thumb {
    width: 260px;
}

/*-- /Section 1 - Gallery --*/

}

@media only screen and (min-width: 769px) {

#respNav {
    display: block !important;
}

}
